.container{
    position: relative;
}

.hidden-label-input {
    height: 56px;
    width: 328px;
    padding: 15px;
    border: 1px solid #C2C8D0;
border-radius: 4px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
outline: none;
transition: all 0.3s;
    box-sizing: border-box;
    color: #858585;
  }

  .hidden-label-input:focus{
    outline: 2px solid #007BAD;
border-radius: 4px
  }

  .hidden-label{
    position: absolute;
    color: #858585;
    top: 20px;
    left: 63px;
    background-color: white;
    padding: 0 5px;
    font-size:16px;
    font-family: 'Roboto';
    transition: all 0.2s;
   
    
  }

  .hidden-label::before{
    content: "";
    height: 5px;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;

  }



.icon{
    position: absolute;
    top: 18px;
    left: 350px;

}

.hidden-label-input:focus + .hidden-label , .filled {
    top: -9px;
    color: #007BAD;
    font-size: 12px;
   padding: 0px 5px;
  }

  .hidden-label-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;

  }

  .hidden-label-input:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
  }